<!DOCTYPE html>
<html>
<head>
  <title></title>

    <title>Admin Panel - Approve Jobs</title>
    <link href="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.default.min.css" rel="stylesheet" type="text/css" />
    <link href="http://semantic-ui-forest.com/static/stylesheets/default.css" rel="stylesheet" type="text/css" />
    <script src="http://semantic-ui-forest.com/static/dist/jquery/jquery.min.js"></script>
</head>

<%include ../partials/adminNav.ejs%>
	  
<body>

   <div class="ui bottom attached segment">     
         
      <div class="ui container">
        <div class="column" id="content">
          <div class="ui grid">
            <div class="row">

            </div>
            <div class="ui divider"></div>
            
            <div class="ui hidden section divider"></div>
            <div class="row">
              <h1 class="ui huge header">Jobs Posted</h1>

              <div class="ui primary button" style="position: absolute; right: 0em" id="Insert">
                <i class="plus icon"></i> Add Job
              </div>
            </div>
            
            
            
            <div class="ui divider"></div>
            <div class="row">
              
              <table class="ui single line striped selectable table">
                <thead>
                  <tr>
                    <th>Company</th>
                    <th>Job Title</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th id="actions">Actions</th>
                  </tr>
                </thead>

                <tbody>
                  
                  <tr>
                    <td>Company</td>
                    <td>Title</td>
                    <td>Location</td>
                    <td>Date</td>
                    <td id="actions">
                      <div class="ui right pointing dropdown">
                        <i class="ellipsis vertical link icon"></i>
                        <div class="menu">
                          <div class="item" id="Update"><a href="/admin/job//edit">View</a></div>
                          <div class="item" id="Update"><a href="/admin/job//edit">Edit</a></div>
                          <div class="item" id="Delete"><a href="/admin/job//delete">Approve</a></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
        </div>
      </div>
 

    <style type="text/css">

    </style>


  </body>
  <footer>
  <link rel="stylesheet" type="text/css" href="css/admin.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.min.js"></script>

<script type="text/javascript">

      $('.ui.dropdown').dropdown();

</script>


  </footer>
</html>
</body>
</html>