<% var val = "none";
if (message.length > 0){
  val = "block"
}
%>

<html>
  <head>

    <title>Admin Panel - Login</title>
    <link href="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.default.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/main.css"> 
    <style>
    .alert {
      padding: 20px;
      background-color: #f44336;
      color: white;
      display: <%= val %>;
      
    }
    
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .closebtn:hover {
      color: black;
    }
    </style>
    
  </head>
  <body class="template">
    
    <!--Page Contents-->
      
       
       <div style="background-color: #F1F1F1; padding: 2em">
          <div class="center aligned ui header"><h1>Log In</h1></div>   
        </div>
        

      <br><br>
     
        <div class="center aligned stackable grid ui container">
          
                 
               <br><br>
               <div style="background-color: #F1F1F1; width: 50%;" class="blue ui segment">
                 <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Warning!</strong>Invalid Email or Password!
</div>
               <form style="width: 80%; padding-left: 15%" class="ui huge form" action="/admin/login" method="POST">
                  <br>
                  <div class="field">
                    
                      <div class="field">
                        <label>Email</label>
                        <br>
                        <input type="text" name="username" placeholder="E.g. JonDoe@email.com">
                      </div>
                      <br>
                      <div class="field">
                        <label>Password</label>
                        <br>
                        <input type="Password" name="password">
                      </div>
                    
                  </div>                
                    
                   <br>
                    <div class="field">
                      <div class="ui checkbox">
                        <input type="checkbox" name="gift" tabindex="1">
                        <label style="text-align: left;">Remember Me</label>
                      </div>
                    </div>
                  <br>
                  <input class="large blue ui button" tabindex="0" type="submit" value="Login">
                </form>
              </div>
              </div>

      <br>
      <br>     
      <br>     
      <br>      
    
      <%include ../partials/footer.ejs%>
    </div>
    <script src="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.min.js"></script>
 
</body>
  <footer>
    
  </footer>
</html>