
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
     <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=1300, initial-scale=1 user-scalable=yes" name="viewport" />
    <meta content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI." name="description" />
    <meta content="Semantic-UI, Theme, Design, Template" name="keywords" />
    <meta content="PPType" name="author" />
    <link href="icon.png" rel="icon" sizes="180x180" />
    <link href="icon.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="icon.png" rel="icon" sizes="16x16" type="image/png" />
    <title>JobPortal</title>
    <link href="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.default.min.css" rel="stylesheet" type="text/css" />
    
    
  </head>
  <body class="template">
    
    <!--Page Contents-->
      
       
       <div style="background-color: #F1F1F1; padding: 2em">
          <div class="center aligned ui header"><h1>Log In</h1></div>   
        </div>
        
        <br>
        <br>
      <br>
      
     
        <div class="center aligned stackable grid ui container">
                 
               <br><br>
               <div style="background-color: #F1F1F1; width: 50%;" class="blue ui segment">
               <form style="width: 80%; padding-left: 15%" class="ui huge form" action="/admin/login" method="POST">
                  <br>
                  <div class="field">
                    
                      <div class="field">
                        <label>Email</label>
                        <br>
                        <input type="text" name="username" placeholder="E.g. JonDoe@email.com">
                      </div>
                      <br>
                      <div class="field">
                        <label>Password</label>
                        <br>
                        <input type="Password" name="password">
                      </div>
                    
                  </div>                
                    
                   <br>
                    <div class="field">
                      <div class="ui checkbox">
                        <input type="checkbox" name="gift" tabindex="1">
                        <label style="text-align: left;">Remember Me</label>
                      </div>
                    </div>
                  <br>
                  <input class="large blue ui button" tabindex="0" type="submit" value="Login">
                </form>
              </div>
              </div>

      <br>
      <br>     
      <br>     
      <br>      
    
      <%include ../partials/footer.ejs%>
    </div>
    <script src="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css">  
</body>
  <footer>
    
  </footer>
</html>