
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="./js/application.js"></script>
  <div class="ui inverted vertical footer segment">
        <div class="ui container">
          <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
              <h4 class="ui inverted header">
                About
              </h4>
              <div class="ui inverted link list">
                <a class="item" href="#"> Sitemap</a><a class="item" href="#"> Contact Us</a><a class="item" href="/about">Company Info</a>
              </div>
            </div>
            
            <div class="seven wide column">
              <h4 class="ui inverted header">
                Follow Us on!
              </h4>
              <p>
               <button class="ui facebook button">
                <i class="facebook icon"></i>
                Facebook
              </button>
              <button class="ui twitter button">
                <i class="twitter icon"></i>
                Twitter
              </button>
              
              <button class="ui linkedin button">
                <i class="linkedin icon"></i>
                LinkedIn
              </button>

              </p>
            </div>
          </div>
        </div>
      </div>