
    <link href="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.default.min.css" rel="stylesheet" type="text/css" />
    <link href="http://semantic-ui-forest.com/static/stylesheets/default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <!--<script src="http://semantic-ui-forest.com/static/dist/jquery/jquery.min.js"></script>-->

	<div class="ui inverted huge borderless fixed fluid menu">
		<a class="header item">Admin Panel</a>
		<div class="right menu">
		  <div class="item">
			<div class="ui small input">
			  <input placeholder="Search..." />
			</div>
		  </div>
		  <a class="item">Dashboard</a>
		  <a class="item">Settings</a>
		  <a class="item">Profile</a>
		  <a class="item" href="/admin/logout">Logout</a>
		</div>
	  </div>