 <div style="margin-bottom: 0px" class="ui large secondary pointing menu pageHeader">
            <div class="ui container">
            <a style="position: absolute;left: 1em" class="toc item"><i class="sidebar icon"></i></a>
            <a href="/" class="active item">Home</a>
            <a href="/about" class="item">About Us</a><!--<a class="item">Company</a><a class="item">Careers</a>-->
            <div class="right item">
              <a class="ui button" href="Login.html">Log in</a>
              <a href="Signup.html" style="margin-left: 0.5em" class="ui button">Sign Up</a>
              <a style="margin-left: 0.5em" class="ui blue button" href="Post-Job.html">Post A Job</a>
            </div>
          </div>
</div>