   <div class="column" id="sidebar">
          <div class="ui secondary vertical fluid menu">
            <a href="/admin" class="active item">Home</a><a href="/admin/job/approve" class="item">Approve Jobs</a>
            <div class="ui hidden divider"></div>
            <a href="#" class="item">Comments Reviews</a>
            <div class="ui hidden divider"></div>
            
          </div>
    </div>
    
    
  <div class="ui inverted left vertical sidebar menu" id="hidden-sidebar">
            <a href="/" class="active item">Home</a><a href="/about" class="item">About Us</a>

          </div>
  

<script type="text/javascript">
	 $('.sidebar-toggle').click(function () {
    $('#hidden-sidebar').sidebar('toggle')
  })
</script>