
<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
    <link href="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.default.min.css" rel="stylesheet" type="text/css" />
  </head>
  
  
  <body class="template">
      <!--Page Contents-->
       
       <%include ./partials/pageHeader.ejs%> 
       <div style="background-color: #F1F1F1; padding: 2em">
          <div class="center aligned ui header"><h1>Page not Found</h1></div>   
        </div>

        <div class="center aligned stackable grid ui container">
          <div class="ui container">
            <div class="center aligned ui header">
              <br><br>
            <h1 style="font-size: 8em">Error 404</h1>
          </div>
            
            <br>
          </div>
            <div class="ui container">
              <div class="center aligned ui header">
            <h2>It appears the page you entered does not exist</h2>
          </div>
            <p style="font-size: 1.2em; color: grey">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam porttitor tristique. Nunc ante elit, euismod id leo sit amet, feugiat sollicitudin nulla. Sed lobortis purus velit, at porta felis accumsan quis. Suspendisse tincidunt libero urna, sed tincidunt ligula auctor non. Suspendisse potenti. Maecenas vulputate . Sed maximus gravida nibh, quis placerat sapien. Fusce eu libero at m
            </p>
            <br><br>
          </div>
        </div>
      <br>
      <br>      
    <br><br>
      	<% include partials/footer.ejs %>

    </div>
    <script src="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </body>
  <footer>
    
  </footer>
</html>