
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>JobPortal</title>
    <link href="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.default.min.css" rel="stylesheet" type="text/css" />
    
    
  </head>
  <body class="template">
    
    <!--Page Contents-->
      
       
       <%include ./partials/pageHeader.ejs%> 
       <div style="background-color: #F1F1F1; padding: 2em">
          <div class="center aligned ui header"><h1>About us</h1></div>   
        </div>
        <div class="ui horizontal divider">
            <span style="font-size: 0.8em">
                <a href="/">Home</a> >
                <a href="/search">Jobs</a>
            </span>
        </div><br>
     
        <div class="center aligned stackable grid ui container">
          <div class="ui container">
            <div class="center aligned ui header">
            <h2>Who we are</h2>
          </div>
            <p style="font-size: 1.2em; color: grey">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam porttitor tristique. Nunc ante elit, euismod id leo sit amet, feugiat sollicitudin nulla. Sed lobortis purus velit, at porta felis accumsan quis. Suspendisse tincidunt libero urna, sed tincidunt ligula auctor non. Suspendisse potenti. Maecenas vulputate . Sed maximus gravida nibh, quis placerat sapien. Fusce eu libero at m
            </p>
            <br>
          </div>
          <div class="eight wide column">
            <div class="Filters">
            <div style="padding: 0;" class="ui container">
              <img style="width: 100%; height: 100%" src="resources/images/p1.jpg">
            </div>
            
            <br>
            
          </div>
        </div>
          <div class="eight wide column">
            <div class="left aligned ui container">
               <div style="font-size: 1.2em; color: grey">
                
                 <p>Aliquam hendrit rutrum iaculis nullam ondimentum maluada velit beum donec sit amet tristique erosam amet risus mollis malesuada quis quis nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae mattis nisi vel elit porttitor euismod pharetra sem interdum.</p><br>
                 
                 
                 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                
                
               </div>
               <br><br><br><br><br>
               
              </div>
            </div>

            <div class="ui container">
              <div class="center aligned ui header">
            <h2>The Goal</h2>
          </div>
            <p style="font-size: 1.2em; color: grey">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam porttitor tristique. Nunc ante elit, euismod id leo sit amet, feugiat sollicitudin nulla. Sed lobortis purus velit, at porta felis accumsan quis. Suspendisse tincidunt libero urna, sed tincidunt ligula auctor non. Suspendisse potenti. Maecenas vulputate . Sed maximus gravida nibh, quis placerat sapien. Fusce eu libero at m
            </p>
            <br><br>

              <div class="ui header"><h2>Our Team</h2></div>
            
            <br>
            <div class="ui six doubling cards">
              <div class="card">
                <div class="image">
                  <img src="resources/images/person.jpg">
                </div>
                <div class="content">
                  <a class="header" href="">John Doe</a>
                  <div class="meta">Graphic Designer</div>
                </div>
              </div>
              <div class="card">
                <div class="image">
                  <img src="resources/images/person.jpg">
                </div>
                <div class="content">
                  <a class="header" href="">John Doe</a>
                  <div class="meta">Graphic Designer</div>
                </div>
              </div>
              <div class="card">
                <div class="image">
                  <img src="resources/images/person.jpg">
                </div>
                <div class="content">
                  <a class="header" href="">John Doe</a>
                  <div class="meta">Graphic Designer</div>
                </div>
              </div>
              <div class="card">
                <div class="image">
                  <img src="resources/images/person.jpg">
                </div>
                <div class="content">
                  <a class="header" href="">John Doe</a>
                  <div class="meta">Graphic Designer</div>
                </div>
              </div>
              <div class="card">
                <div class="image">
                  <img src="resources/images/person.jpg">
                </div>
                <div class="content">
                  <a class="header" href="">John Doe</a>
                  <div class="meta">Graphic Designer</div>
                </div>
              </div>
              <div class="card">
                <div class="image">
                  <img src="resources/images/person.jpg">
                </div>
                <div class="content">
                  <a class="header" href="">John Doe</a>
                  <div class="meta">Graphic Designer</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <br>
      <br>      
    <br><br>
      <%include ./partials/footer.ejs%>
    </div>
    <script src="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </body>
  <footer>
    
  </footer>
</html>