
<!DOCTYPE html>
<html>
  <head>
    <title>JobPortal</title>
    <link href="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.default.min.css" rel="stylesheet" type="text/css" />
    
    
  </head>
  <body class="template">
    
    <!--Page Contents-->
      
       
          <%include ./partials/pageHeader.ejs%> 
       <div style="background-color: #F1F1F1; padding: 2em">
          <div class="center aligned ui header"><h1>Job Detail</h1></div>   
        </div>
        <div class="ui horizontal divider"><span style="font-size: 0.8em"><a href="/">Home</a> > <a href="/search">Jobs</a></span></div>

      <br>
      
     
        <div class="center aligned stackable grid ui container">
          <div class="six wide column">
            <div class="Filters">
            <div style="padding: 0; height:17em" class="ui container">
              <img style="width: 100%; height: 100%" src="resources/images/p1.jpg">
            </div>
            <div style="border-style: none; background-color: #F1F1F1" class="ui segment">
              <div class="left aligned ui header"><i class="marker icon"></i>Location</div>
              <div class="left aligned ui text container">Place 1, Lahore, Pakistan</div>
              <div class="ui horizontal divider">|</div>
              <div class="left aligned ui header"><i class="money bill icon"></i>Salary</div>
              <div class="left aligned ui text container">25,000 - 30,000 per month</div>
              <div class="ui horizontal divider">|</div>
              <div class="left aligned ui header"><i class="briefcase icon"></i>Experience</div>
              <div class="left aligned ui text container">1 Year +</div>
              <div class="ui horizontal divider">|</div>
              <div class="left aligned ui header"><i class="clock icon"></i>Submitted On</div>
              <div class="left aligned ui text container">28th October, 2018</div>
              <div class="ui horizontal divider"></div>
            </div>
            <br>
            <!--<div style="padding: 0; height:24em" class="ui segment">-->
            <!--  <label class="ui header">Advertisement</label>-->
            <!--  <img style="width: 100%; height: 100%" src="resources/images/Capture.jpg">-->
            <!--</div>-->
          </div>
        </div>
          <div class="ten wide column">
            <div class="left aligned ui container">
              <!--<div style="width: 100%" class="ui card">
                
            
                <div class="content">
                  <div class="ui internally celled two column grid">
                  <div style="padding: 0" class="five wide column container">
                     <img style="width: 100%; height: 100%" src="Capture.jpg">
                  </div>

                  <div class="nine wide column">
                  <h3 class="ui blue left aligned header">IT Department Manager</h3>
                  <h3 class="ui left aligned sub header"><i class="blue marker outline icon"></i> Some Company, Lahore, Pakistan</h3>
                  <div class="ui small feed">
                    <div class="event">
                      <div class="content">
                        <div class="summary">
                           <i style="padding: 0px 1em 0px 0px" class=" calendar outline icon"></i> 28 Oct 2017  
                           <i style="padding: 0px 1em 0px 1em" class="money bill alternate outline icon"></i> 25K - 30K 
                           <i style="padding: 0px 1em 0px 1em" class="file outline icon"></i> 1 Year Experience
                        </div>
                      </div>
                    </div>
                    <div class="event">
                      <div class="content">
                        <div class="summary">
                          <div class="meta"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout [..] </div>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                  <div class="left aligned extra content">
                  <button class="ui black button">Join Project</button>
                  <button class="ui black button">View More</button>
                </div>
                  </div>

                </div>
                </div>
                
              </div>
              -->
               <div class="ui header"><h2>IT Development Manager</h2></div>
               <div style="font-size: 1.2em; color: grey">
                <br>
                 <p>Aliquam hendrit rutrum iaculis nullam ondimentum maluada velit beum donec sit amet tristique erosam amet risus mollis malesuada quis quis nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae mattis nisi vel elit porttitor euismod pharetra sem interdum.</p><br>
                 
                 <div class="ui header">Job Description</div>
                 <div class="ui divider"></div>
                 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                  <br><br><br>
                Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures.
                </p>

                <div class="ui header">Skills</div>
                <div class="ui tag labels">
                  <a class="ui label">
                    MVC
                  </a>
                  <a class="ui label">
                    Angular JS
                  </a>
                  <a class="ui label">
                    .NET
                  </a>
                  <a class="ui label">
                    HTML 5.0
                  </a>
                  <a class="ui label">
                    Apache
                  </a>
                </div>
               </div>
               <br><br>
               <div style="background-color: #F1F1F1" class="blue ui segment">
               <form class="ui form">
                  <h3 class="ui dividing header">Apply For Job</h3>
                  <div class="field">
                    <label>Name</label>
                    <div class="two fields">
                      <div class="field">
                        <input type="text" name="[first-name]" placeholder="First Name">
                      </div>
                      <div class="field">
                        <input type="text" name="[last-name]" placeholder="Last Name">
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="two fields">
                      <div class="field">
                        <label>Email</label>
                        <input type="Email" name="[email]" placeholder="E.g. JonDoe@email.com">
                      </div>
                      <div class="field">
                        <label>Add your CV</label>
                        <input type="file" name="[CV]" placeholder="Choose a file">
                      </div>
                    </div>
                  </div>
                  
                  
                  <h4 class="ui dividing header">Additional Information</h4>
                    <div class="field">
                      <textarea></textarea>
                    </div>
                  
                   
                    <div class="field">
                      <div class="ui toggle checkbox">
                        <input type="checkbox" name="gift" tabindex="1">
                        <label>Notify me on updates</label>
                      </div>
                    </div>
                  
                  <div class="huge blue ui button" tabindex="0">Apply Now</div>
                </form>
              </div>
              </div>
            </div>
          </div>
      <br>
      <br>      
    
      <%include ./partials/footer.ejs%> 
    </div>
    <script src="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </body>
  <footer>
    
  </footer>
</html>